---
const { id } = Astro.params;
import PageHeader from "../../components/PageHeader.astro";
import Layout from "../../layouts/BlogLayout.astro";
import { allPosts } from "../../lib/data";
import * as greatPost from "../../pages/blog/page-1.md";

export async function getStaticPaths() {
  const posts = await Astro.glob("../posts/*.md");

  return posts.map((post) => ({
    params: {
      slug: post.frontmatter.slug,
    },
    props: {
      post,
    },
  }));
}

const post = allPosts.find((posts) => posts.id === id);
---

<Layout image={post?.cover} title={post?.title || "404"}>
  <div
    class="relative bg-zinc-900 min-h-full flex flex-col overflow-x-hidden rounded-lg"
    transition:name=`playlist ${post?.id} box`
  >
    <PageHeader />
    <div
      class="flex flex-col items-center md:flex-row md:items-stretch gap-8 px-6"
    >
      <div class="h-52 w-52 flex-none">
        <img
          src={post?.cover}
          class="object-cover h-full w-full shadow-[5px_0_30px_0px_rgba(0,0,0,0.3)]"
          transition:name=`playlist ${post?.id} image`
        />
      </div>
      <div class="flex flex-col justify-between">
        <div>
          <h1 class="title-clamp font-bold block">
            {post?.title}
            <p>{greatPost.description}</p>
            <span transition:name=`playlist ${post?.id} title`></span>
          </h1>
        </div>
        <div class="flex-1 flex items-end">
          <div class="text-sm">
            <div class="mt-1">
              <p>Written by: {greatPost.frontmatter.author}</p>
              <span class="text-gray-300">{greatPost.frontmatter.date}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-zinc-900/30 mt-6 flex-1 p-6 blur-100">
      <div class="flex gap-1 items-center">
        <div class="ml-4" transition:name=`playlist ${post?.id} play`></div>
      </div>
      <div class="px-6 pt-4">
        {post?.content}
        <!-- <p>{greatPost.frontmatter.title}</p> -->
        <!-- {greatPost.Content} -->
      </div>
    </div>
    <div
      class="absolute h-screen inset-0 z-[-1] bg-gradient-to-b from-context"
      style=`--context-color:${post?.color.accent}`
    >
      <img
        src={post?.cover}
        class="el-to-fade transition-all duration-500 z-[-1] absolute inset-0 mix-blend-overlay opacity-20 scale-90 w-full h-full object-cover blur-md"
      />
      <div
        class="absolute inset-0 bg-gradient-to-t via-transparent from-zinc-900"
      >
      </div>
    </div>
  </div>
</Layout>

<style>
  .title-clamp {
    font-size: clamp(20px, 6vw, 70px);
    line-height: 1;
  }
</style>
