---
import type { Post } from "../lib/data";

interface Props {
  post: Post;
}

const { post } = Astro.props;
---

<a
  href={`/blog/${post.id}`}
  class="playlist-card p-4 flex-col items-center group relative transition-all duration-300 overflow-hidden gap-5 rounded-md shadow-lg hover:shadow-xl outline-none bg-zinc-500/5 hover:bg-zinc-500/20 focus:bg-zinc-500/20"
  data-color={post.color.dark}
  transition:name=`blog ${post.id} box`
>
  <div class="w-40">
    <div class="relative group mx-auto h-40 w-full flex-none shadow-lg">
      <img
        src={post.cover}
        class="object-cover h-full w-full rounded-md shadow-[5px_0_30px_0px_rgba(0,0,0,0.3)]"
        transition:name=`blog ${post.id} image`
      />
    </div>
    <div class="pt-2">
      <div
        class="font-bold block truncate"
        transition:name=`blog ${post.id} title`
      >
        {post.title}
      </div>
    </div>
  </div>
</a>
